.draggable{
    background-color: red;

    aspect-ratio: 375 / 810;
}   

.interestTag {
  background: #1890ff;
  border-color: #1890ff;
  padding:  2px;
  font-size: 16px;
  border-radius: 24px;
  cursor: pointer;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  transition: all 0.3s;
  user-select: none;
}

.interestTag:hover {
  background: #40a9ff;
  border-color: #40a9ff;
  color: white;
}
