.layout {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-wrap: nowrap; 
}
.children_wrapper{
    position: relative;
    height: 100%;
    width: max-content;
}

.children{
    width: 100%;
}

.image_wrapper{
    height: 100vh;
    width: 275px;
}

@media (max-width: 1200px){
   .image_wrapper{
        width: 200px;
    }
}

@media (max-width: 980px){
   .image_wrapper{
        width: 150px;
    }
}
@media (max-width: 768px){
   .image_wrapper{
        display: none;
        width: 0px;
        height: 0px;
    }

    .children{
        padding: 0 20px;
    }
}



