.layout {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    flex-wrap: nowrap; 
    background-color: white;
}
.children_wrapper{
    position: relative;
    height: 100%;
    width: max-content;
}

.children{
    width: 100%;
}

.image_wrapper{
    height: 100vh;
    width: 275px;
}

