.page {
  min-height: 100dvh;
  width: 100%;
  gap: 8px;
  padding: 24px;
  text-align: center;
}

.code {
  font-size: clamp(96px, 20vw, 180px) !important;
  line-height: 1 !important;
  margin: 0 0 8px !important;
  font-weight: 700 !important;
  opacity: 0.15;
}

.title {
  margin: 0 0 8px !important;
}

.description {
  font-size: 16px;
  max-width: 360px;
  margin-bottom: 32px;
}

.button {
  min-width: 160px;
}
